python-dotenv==1.1.0
langchain-openai==0.3.11
langchain-community==0.3.20
langchain==0.3.21
langchain-text-splitters==0.3.7
langchain-openai==0.3.11
# python-dotenv==1.1.0  # Optional: only needed for local .env support
gradio==5.23.1
pypdf==5.4.0
huggingface-hub==0.30.1
