python-dotenv==1.1.0
langchain-openai==0.3.11
langchain-community==0.3.20
langchain==0.3.21
langchain-text-splitters==0.3.7
streamlit==1.32.0
pypdf==5.4.0
huggingface-hub==0.30.1
chromadb==1.0.0
beautifulsoup4==4.13.3
requests==2.32.3
tiktoken==0.9.0
transformers
torch>=2.0.0